<div class="container-fluid">
  <h1>Ticketee</h1>
  <p>Ruby on Rails application built by following the <strong>Rails 4 in Action</strong> book.</p>
  <div class="row">
  	<div class="col-sm-8" style="background-color:white;">
  	    
  	    <p>Gems used:</p>
  	    <p><strong>Devise</strong> - for registering and logging in users.</p>
  	    <p><strong>Pundit</strong> - for setting up policies.</p>
  	    <p>Developed on www.c9.io and deployed on Heroku</p>
  	    <p>Administrators can create projects and set roles for other users.</p>
  	    <p>Create projects, create tickets, search through tickets, list tickets belonging to a tag, add users.</p>
  	  
  	
  	
  	</div>
    <div class="col-sm-4" style="background-color:lavender;">
        <p>Login details</p>
  	<p><strong>Administrator</strong></p>
  	<p>admin@ticketee.com</p>
  	<p>password</p>
  	<br><br>
  	  	<p><strong>User</strong></p>
  	<p>user@ticketee.com</p>
  	<p>password</p>
  	<br>
  	<p>You can sign up and log in as well.</p>
    </div>
    
  </div>
</div>