<header>
<h3>New Comment</h3>
</header>
<%= form_for [ticket, comment] do |f| %>
<%= f.text_field :text %>

<select class="select optional form-control" name="comment[state_id]"
id="comment_state_id">
<option value="1" selected="selected">New</option>
<option value="2">Open</option>
<option value="3">Closed</option>
</select>

 <% if policy(ticket).tag? %>
            <%= render "tags/form", f: f %>
<% end %>

<%= f.submit class: "btn btn-primary" %>
<% end %>